torch
torchvision
torchaudio
torchmetrics
timm
pytorch-lightning
opencv-python-headless
numpy
einops
boto3
omegaconf
lpips
DALL-E
coloredlogs
skorch
pandas
transformers[torch]
datasets
sentencepiece
wandb
albumentations
